### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.Rproj.user
/src/.Rhistory
/localisation/
/.Rhistory
/Oxide.Rproj
/pixelFinderPID.txt
/statefiles/
/statefiles_clean/
/statefiles_example/
/input/
/.idea/.rAvailablePackageCache.xml.icloud
/.RData
/gameFiles/common/buildings/00_buildings.txt
/gameFiles/common/resources/00_resources.txt
/gameFiles/common/terrain/00_terrain.txt
/buildings_all.txt
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2022_11_19,_22_59_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2022_11_19,_23_03_[Changes]/shelved.patch
/test.xlsx
/gameFiles/
/src/resources/gameFiles/
